@model IEnumerable<MVCProject.Models.Phone>

@using PagedList
@using PagedList.Mvc


<table class="table table-bordered table-striped table-sm mt-2">
    <thead class="table-primary">
        <tr>
            <th>Details</th>
            <th>Picture</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Realise Date</th>
            <th>Is It Official?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td style="width:40px;text-align:center;">
                    <button type="button" class="btn btn-sm show"><i class="bi bi-chevron-right"></i></button>
                    <button type="button" class="btn btn-sm hide" style="display:none;"><i class="bi bi-chevron-up"></i></button>
                </td>
                <td style="width:45px;text-align:center">
                    <img src="~/Picture/@s.Picture" class="rounded-circle" style="width:32px;" />
                </td>
                <td>@s.Brand.BrandName</td>
                <td>@s.PhoneModel.ModelName</td>
                <td>@s.ReliseDate.ToString("yyyy-MM-dd")</td>
                <td>@(s.IsOfficial?"Yes":"No")</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Phones", new { id = s.PhoneId }, new { @class = "btn btn-outline-success btn-sm" })
                    @Html.ActionLink("Delete", "Delete", "Phones", new { id = s.PhoneId }, new { @class = "btn btn-outline-danger btn-sm" })
                </td>
            </tr>
            <tr style="display:none;">
                <td></td>
                <td colspan="6">
                    <h4>Stock Details</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Color</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var t in s.StockDetails)
                            {
                                <tr>
                                    <td>@t.Color</td>
                                    <td>@t.Price</td>
                                    <td>@t.Quantity</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>


